@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-image: url("http://res.cloudinary.com/irinaovdii/image/upload/v1516290818/geometric-graphic-background-molecule-communication-big-data-complex-compounds-perspective-backdrop-minimal-array-80804078_hkpuvq.jpg");
  background-size: 100%;
  font-family: monospace;

}

.my_panel {
  background-color: #bacff2;
  color: black;
  .panel-heading{
    background-color: #718cb7;
  }
}

.my-button {
  background-color: #718cb7;

}
